<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="../styles/style.css">

  <title>Client for Node API</title>
</head>
<body>

  <div class="container well margin-top-20 small-container">
    <div>
      <a href="/"><< Go Back</a>
    </div>
    <div class="bold margin-top-20">
        Username
      </div>
      <div class="margin-top-20">
        <input type="text" class="form-control" />
      </div>
      <div class="bold margin-top-20">
        First Name
      </div>
      <div class="margin-top-20">
        <input type="text" class="form-control" />
      </div>
      <div class="bold margin-top-20">
        Last Name
      </div>
      <div class="margin-top-20">
        <input type="text" class="form-control" />
      </div>
      <div class="bold margin-top-20">
        Age
      </div>
      <div class="margin-top-20">
        <input type="text" class="form-control" />
      </div>
      <br>
      <div class="margin-top-20">
        <a href="/" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-success">Submit Edits</button>
      </div>
  </div>
  
  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>